# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
dist/
build/
*.egg-info/

# Ambientes Virtuais
.venv
env/

# Ficheiros Pesados a Ignorar (Obrigatório)
*.wav
*.mp3

# Modelos treinados pesados (Opcional: retire se os seus ficheiros .pkl ou .h5 forem muito pequenos)
models/

# Rascunhos e Lixo
notebooks/testes.ipynb
.DS_Store